/*ESTILO DE BARRA DE NAVEGACION*/
/* MAIN */
/*Primer Portada*/
/*FOOTER*/
/*CONTACTO*/
/*SOBRE NOSOTROS*/
/*OFERTAS*/
/*PRODUCTOS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none !important;
  font-family: solway;
}

@media screen and (max-width: 480px) {
  .alert {
    padding: 0;
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .ofertas-inicio {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .categorias {
    margin-left: 0;
    flex-wrap: wrap;
    text-align: center;
  }
  .card-group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  #ofertasImagenes {
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: "img1" "img2" "img2" "img2";
  }
}
@media screen and (max-width: 480px) {
  .sales {
    margin-left: 0;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .contacPromo {
    margin-left: 0;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #mainNosotros {
    margin-left: 0;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  #footer {
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
  }
}
#header {
  width: 100%;
  height: 70px;
}

ul li {
  list-style: none;
  display: inline-block;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: rgb(206, 206, 206);
  align-items: center;
  padding: 20px 0;
}

.footer_logo img {
  width: 50px;
  height: 50px;
  margin: auto 120px;
  filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
}

.footer_links a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(92, 92, 92);
  font-size: 20px;
  margin: auto 120px;
  transition: 0.5s;
}
.footer_links a:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.footer_redes a {
  font-size: 30px;
  color: black;
  margin: auto 30px;
  border: 2px gray;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}
.footer_redes a:hover {
  filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
  transition: 0.5s;
}

body {
  max-width: 1920px;
  background-color: white;
}

.navbar-brand img {
  margin: 20px 10px;
  width: 100px;
  height: 100px;
  width: 60px !important;
  height: 60px !important;
}
.navbar-brand p {
  display: inline;
  font-size: 30px;
  align-items: center;
}

#main {
  margin: 0px;
  min-height: 100vh;
}
#main .OfertasAll a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  padding: 0 100px;
  transition: 0.5s;
}

.alert {
  padding-left: 350px;
  color: rgba(0, 0, 0, 0.662);
  background-color: rgba(0, 0, 0, 0.938);
  background-color: rgba(92, 92, 92, 0.2) !important;
  padding-left: 500px;
  margin: 20px 10px;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: radial-gradient(circle, rgb(182, 182, 182), rgb(61, 61, 61));
}

.carousel-inner img {
  width: 100%;
  height: 250px;
}

.carousel-caption h5 {
  background-color: rgba(0, 0, 0, 0.571);
  color: white;
}
.carousel-caption p {
  background-color: rgba(0, 0, 0, 0.571);
  color: rgba(255, 255, 255, 0.598);
}

.OfertasAll a:hover {
  background-color: rgba(0, 0, 0, 0.048);
  padding-bottom: 5px;
  padding-right: 5px;
  border-radius: 25px;
  box-shadow: 10px 15px 6px rgba(0, 0, 0, 0.228);
  transition: 0.5s;
}

.ofertas-inicio {
  text-align: center;
  place-items: center;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
}
.ofertas-inicio img {
  position: relative;
  width: 250px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
.ofertas-inicio img:hover {
  -webkit-transform: translate(10%);
  transform: translate(10%);
}
.ofertas-inicio a {
  color: black;
  font-size: 20px;
}
.ofertas-inicio a:hover {
  color: rgb(115, 115, 115);
}

#main_contacto {
  color: black;
}

.portadaContacto h4 {
  position: absolute;
  font-size: 40px;
  top: 50px;
  left: 30px;
}
.portadaContacto p {
  position: absolute;
  font-size: 20px;
  bottom: 5px;
  left: 30px;
  word-spacing: 10px;
}
.portadaContacto p img {
  margin: 0 10px;
  height: 50px;
  width: 50px;
}
.portadaContacto img {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px 5px;
  height: 280px;
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.portadaContacto img:hover {
  opacity: 0.4;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.contacPromo {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.contacPromo h1 {
  border: 2px solid rgb(177, 177, 177);
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.contacPromo h1:hover {
  filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
  background-color: white;
  color: black;
  transition: 0.5s;
}

#form_contacto {
  width: 100%;
  font-size: 20px;
  text-align: justify-all;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: inherit;
}
#form_contacto .form-control {
  margin: 15px;
}
#form_contacto .form-control label {
  margin-bottom: 10px;
  margin-top: 10px;
}

#enviar {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  font-family: solway;
  transition: 0.5s;
}
#enviar:hover {
  color: white;
  background-color: grey;
  font-family: solway;
  transition: 0.5s;
  font-size: 20px;
}

#ofertasImagenes {
  width: 95%;
  height: 500px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "campw campgr campbl campgrey";
  column-gap: 30px;
  row-gap: 30px;
}
#ofertasImagenes img {
  width: 260px;
  height: 260px;
  transition: height 0.5s, width 0.5s;
}
#ofertasImagenes img:hover {
  transition: 0.5s;
  height: 300px;
  width: 300px;
}
#ofertasImagenes div button {
  background-color: rgba(0, 0, 0, 0.431) !important;
  color: white !important;
  font-size: 15px !important;
  border-radius: 10px !important;
  transition: 0.5s !important;
}
#ofertasImagenes div button:hover {
  transition: 0.5s !important;
  border-radius: 15px !important;
  background-color: black !important;
  color: white !important;
}

.img1 {
  padding: 15px 10px;
  grid-area: campw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.img2 {
  padding: 15px 10px;
  grid-area: campgr;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.img3 {
  padding: 15px 10px;
  grid-area: campbl;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.img4 {
  padding: 15px 10px;
  grid-area: campgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sales {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 500px;
  margin: 50px 15px;
  column-gap: 30px;
}
.sales h2 {
  position: absolute;
  top: 5px;
}
.sales .sale1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sales .sale1 .imghvr-blur {
  background-color: #252525;
}
.sales .sale1 figcaption {
  background-color: #252525;
}
.sales .sale1 img {
  width: 350px;
  height: 350px;
}
.sales .sale1 h3 {
  font-size: 20px;
  text-align: left;
}
.sales .sale1 p {
  font-size: 15px;
  text-align: left;
  align-items: center;
}
.sales .sale1 a {
  font-size: 20px;
  color: rgb(115, 115, 115);
  text-align: center;
  position: relative;
}
.sales .sale1 a:hover {
  color: rgba(255, 255, 255, 0.82);
}
.sales .sale2 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sales .sale2 .imghvr-blur {
  background-color: #252525;
}
.sales .sale2 figcaption {
  background-color: #252525;
}
.sales .sale2 img {
  width: 350px;
  height: 350px;
}
.sales .sale2 h3 {
  font-size: 20px;
  text-align: left;
}
.sales .sale2 p {
  font-size: 15px;
  text-align: left;
  align-items: center;
}
.sales .sale2 a {
  font-size: 20px;
  color: rgb(115, 115, 115);
  text-align: center;
  position: relative;
}
.sales .sale2 a:hover {
  color: rgba(255, 255, 255, 0.82);
}
.sales .sale3 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sales .sale3 .imghvr-blur {
  background-color: #252525;
}
.sales .sale3 figcaption {
  background-color: #252525;
}
.sales .sale3 img {
  width: 350px;
  height: 350px;
}
.sales .sale3 h3 {
  font-size: 20px;
  text-align: left;
}
.sales .sale3 p {
  font-size: 15px;
  text-align: left;
  align-items: center;
}
.sales .sale3 a {
  font-size: 20px;
  color: rgb(115, 115, 115);
  text-align: center;
  position: relative;
}
.sales .sale3 a:hover {
  color: rgba(255, 255, 255, 0.82);
}
.sales .sale4 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sales .sale4 .imghvr-blur {
  background-color: #252525;
}
.sales .sale4 figcaption {
  background-color: #252525;
}
.sales .sale4 img {
  width: 350px;
  height: 350px;
}
.sales .sale4 h3 {
  font-size: 20px;
  text-align: left;
}
.sales .sale4 p {
  font-size: 15px;
  text-align: left;
  align-items: center;
}
.sales .sale4 a {
  font-size: 20px;
  color: rgb(115, 115, 115);
  text-align: center;
  position: relative;
}
.sales .sale4 a:hover {
  color: rgba(255, 255, 255, 0.82);
}

.navbar-brand img {
  margin: 20px 10px;
  width: 100px;
  height: 100px;
  width: 60px !important;
  height: 60px !important;
}
.navbar-brand p {
  display: inline;
  font-size: 30px;
  align-items: center;
}

.caterogorias-Text {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.categorias a {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  color: black;
  display: inline;
}
.categorias a:hover {
  color: rgb(115, 115, 115);
}
.categorias img {
  width: 200px;
  height: 200px;
  display: inline;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  margin-left: 150px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: height 2s, width 1s;
}
.categorias img:hover {
  height: 250px;
  width: 250px;
  border: 1px solid black;
}

.card-group {
  text-align: center;
  margin: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-group p {
  text-align: center;
}
.card-group .text-body-secondary {
  font-size: 20px;
}

#footer {
  display: flex;
  justify-content: center;
  background-color: rgb(206, 206, 206);
  align-items: center;
  padding: 20px 0;
}

.footer_logo img {
  width: 50px;
  height: 50px;
  margin: auto 120px;
  filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
}

.footer_links a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(92, 92, 92);
  font-size: 20px;
  margin: auto 120px;
  transition: 0.5s;
}
.footer_links a:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.footer_redes a {
  font-size: 30px;
  color: black;
  margin: auto 30px;
  border: 2px gray;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}
.footer_redes a:hover {
  filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
  transition: 0.5s;
}

#mainNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  font-family: solway;
}
#mainNosotros .card-nosotrosTexto {
  width: 50%;
  font-size: 18px;
  margin: 0 100px;
  padding: 10px 15px;
  text-align: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
#mainNosotros .card-nosotrosTexto:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#mainNosotros .card-nosotrosTexto .card-title {
  font-size: 22px;
  padding: 5px 0;
}
#mainNosotros .card-nosotrosTexto .card-title img {
  width: 45px;
  height: 45px;
}
#mainNosotros .card-nosotrosTexto img {
  height: 300px;
}
#mainNosotros .nosotrosMap {
  width: 50%;
  height: 500px;
  text-align: center;
  position: relative;
  margin: 0px 100px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
#mainNosotros .nosotrosMap:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#mainNosotros .nosotrosMap h4 {
  font-size: 19px;
}
#mainNosotros .nosotrosMap h4 img {
  width: 20px;
  height: 30px;
}
#mainNosotros .nosotrosMap p {
  font-size: 18px;
}
#mainNosotros .nosotrosMap img {
  width: 40px;
  height: 40px;
}
#mainNosotros .nosotrosMap iframe {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*# sourceMappingURL=style.css.map */
