.navbar-brand {
	img {
		margin: 20px 10px;
		width: 100px;
		height: 100px;
		width: 60px !important;
		height: 60px !important;
	}
	p {
		display: inline;
		font-size: 30px;
		align-items: center;
	}
}
.caterogorias-Text {
	font-size: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
.categorias {
	a {
		width: 100%;
		margin: 0 auto;
		font-size: 20px;
		color: $color_1;
		display: inline;
	}
	img {
		width: 200px !important;
		height: 200px !important;
		display: inline !important;
		align-items: center !important;
		justify-content: space-between !important;
		margin: 20px 0px;
		border: 1px solid black;
		margin-left: 150px;
	}
}
.card-group {
	margin: 20px 10px;
}


#footer {
	display: flex;
	justify-content: center;
	background-color: $background-color_2;
	align-items: center;
	padding: 20px 0;
}
.footer_logo {
	img {
		width: 50px;
		height: 50px;
		margin: auto 120px;
		filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
	}
}
.footer_links {
	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $color_7;
		font-size: 20px;
		margin: auto 120px;
		transition: .5s;
		&:hover {
			color: $color_8;
			transition: .5s;
		}
	}
}
.footer_redes {
	a {
		font-size: 30px;
		color: $color_1;
		margin: auto 30px;
		border: 2px gray;
		border-radius: 10px;
		padding: 5px;
		transition: .5s;
		&:hover {
			filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
			transition: .5s;
		}
	}
}