.navbar-brand {
	img {
		margin: 20px 10px;
		width: 100px;
		height: 100px;
		width: 60px !important;
		height: 60px !important;
	}
	p {
		display: inline;
		font-size: 30px;
		align-items: center;
	}
}
.caterogorias-Text {
	font-size: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
.categorias {
	a {
		width: 100%;
		margin: 0 auto;
		font-size: 20px;
		color: $color_1;
		display: inline;
		&:hover {
			color: $color_6;
		}
	}
	img {
		width: 200px;
		height: 200px;
		display: inline;
		align-items: center;
		justify-content: space-between;
		margin: 20px 0px;
		margin-left: 150px;
		box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
		transition: height 2s, width 1s;
		&:hover {
			height: 250px; width: 250px;
			border: 1px solid black;
		}
	}
}

.card-group {
	text-align: center;
	margin: 20px 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	p {
		text-align: center;
	}
	.text-body-secondary {
		font-size: 20px;
		
	}
}


#footer {
	display: flex;
	justify-content: center;
	background-color: $background-color_2;
	align-items: center;
	padding: 20px 0;
}
.footer_logo {
	img {
		width: 50px;
		height: 50px;
		margin: auto 120px;
		filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
	}
}
.footer_links {
	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $color_7;
		font-size: 20px;
		margin: auto 120px;
		transition: .5s;
		&:hover {
			color: $color_8;
			transition: .5s;
		}
	}
}
.footer_redes {
	a {
		font-size: 30px;
		color: $color_1;
		margin: auto 30px;
		border: 2px gray;
		border-radius: 10px;
		padding: 5px;
		transition: .5s;
		&:hover {
			filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
			transition: .5s;
		}
	}
}