#ofertasImagenes {
	width: 1024px;
	height: 100vh;
	margin: 150px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "campw campgr campbl campgrey";
	column-gap: 50px;
	row-gap: 20px;
	
	img {
		border: 1px solid rgba(63, 63, 63, 0.528);
		width: 250px;
		height: 250px;
		transition: height 1s, width 0.5s;
		&:hover {
			height: 280px; width: 280px;
			border: 2px solid black;
		}
	}
	div {

		button {
			background-color: $background-color_13 !important;
			color: $color_4 !important;
			font-size: 15px !important;
			border-radius: 10px !important;
			transition: .5s !important;
			&:hover {
				transition: .5s !important;
				border-radius: 15px !important;
				background-color: $background-color_10 !important;
				color: $color_4 !important;
			}
		}
	}
}
.img1 {
	grid-area: campw; 
	}
.img2 {
	grid-area: campgr;
}
.img3 {
	grid-area: campbl;
}
.img4 {
	grid-area: campgrey;	
}

.sale {
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
box-sizing: border-box;

img {
	width: 300px;
	height: 300px;
}
h3 {
	font-size: 20px;
	text-align: left;
}
p {
	font-size: 15px;
	text-align: left;
}
a {
	font-size: 20px;
	text-align: center;
}
}