#ofertasImagenes {
	width: 95%;
	height: 500px;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 50px 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "campw campgr campbl campgrey";
	column-gap: 30px;
	row-gap: 30px;
	
	img {
		width: 260px;
		height: 260px;
		transition: height .5s, width .5s;
		&:hover {
			transition: .5s;
			height: 300px; width: 300px;
		}
	}
	div {

		button {
			background-color: $background-color_13 !important;
			color: $color_4 !important;
			font-size: 15px !important;
			border-radius: 10px !important;
			transition: .5s !important;
			&:hover {
				transition: .5s !important;
				border-radius: 15px !important;
				background-color: $background-color_10 !important;
				color: $color_4 !important;
			}
		}
	}
}
.img1 {
	padding: 15px 10px;
	grid-area: campw; 
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	}
.img2 {
	padding: 15px 10px;
	grid-area: campgr;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.img3 {
	padding: 15px 10px;
	grid-area: campbl;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.img4 {
	padding: 15px 10px;
	grid-area: campgrey;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;	
}

.sales {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	height: 500px;
	margin: 50px 15px;
	column-gap: 30px;

	h2 {
	position: absolute;
	top: 5px; }
	
	.sale1 {

		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	
		.imghvr-blur {
		background-color: #252525;
		}	

		figcaption {
		background-color: #252525;
		}

		img {
		width: 350px;
		height: 350px;
		}
		h3 {
		font-size: 20px;
		text-align: left;
		}
		p {
		font-size: 15px;
		text-align: left;
		align-items: center;
		}
		a {
		font-size: 20px;
		color: $color_6;
		text-align: center;
		position: relative;
		&:hover {
		color:$color_2;
		}
		} }

		.sale2 {
			
			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
			.imghvr-blur {
			background-color: #252525;
			}	
	
			figcaption {
			background-color: #252525;
			}
	
			img {
			width: 350px;
			height: 350px;
			}
			h3 {
			font-size: 20px;
			text-align: left;
			}
			p {
			font-size: 15px;
			text-align: left;
			align-items: center;
			}
			a {
			font-size: 20px;
			color: $color_6;
			text-align: center;
			position: relative;
			&:hover {
			color:$color_2;
			}
			} }

			.sale3 {
				
				box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
				.imghvr-blur {
				background-color: #252525;
				}	
		
				figcaption {
				background-color: #252525;
				}
		
				img {
				width: 350px;
				height: 350px;
				}
				h3 {
				font-size: 20px;
				text-align: left;
				}
				p {
				font-size: 15px;
				text-align: left;
				align-items: center;
				}
				a {
				font-size: 20px;
				color: $color_6;
				text-align: center;
				position: relative;
				&:hover {
				color:$color_2;
				}
				} }

				.sale4 {

					box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

					.imghvr-blur {
					background-color: #252525;
					}	
			
					figcaption {
					background-color: #252525;
					}
			
					img {
					width: 350px;
					height: 350px;
					}
					h3 {
					font-size: 20px;
					text-align: left;
					}
					p {
					font-size: 15px;
					text-align: left;
					align-items: center;
					}
					a {
					font-size: 20px;
					color: $color_6;
					text-align: center;
					position: relative;
					&:hover {
					color:$color_2;
					}
					} }

}

