#main_contacto {
	color: $color_1;
	background-color: $background-color_7;
}
.portadaContacto {
	display: flex;
	justify-content: center;
	height: 280px;
	width: 100%;
}
.contacPromo {
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	h1 {
		border: 2px solid rgb(177, 177, 177);
		background-color: $background-color_8;
		width: auto;
		height: auto;
		padding: 10px;
		border-radius: 10px;
		transition: .5s;
		&:hover {
			filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
			background-color: $background-color_1;
			color: $color_1;
			transition: .5s;
		}
	}
}
#form_contacto {
	width: 100%;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 10px;
}
#enviar {
	background-color: $background-color_9;
	padding: 10px;
	border-radius: 10px;
	margin-left: 10px;
	font-family: $font-family_2;
	transition: 1s;
	&:hover {
		color: $color_4;
		background-color: $background-color_10;
		transition: 1s;
		font-size: 15px;
	}
}