$color_1: black;
$color_2: rgba(255, 255, 255, 0.82);
$color_3: rgba(0, 0, 0, 0.662);
$color_4: white;
$color_5: rgba(255, 255, 255, 0.598);
$color_6: rgb(115, 115, 115);
$color_7: rgb(92, 92, 92);
$color_8: rgb(0, 0, 0);
$font-family_1: solway;
$font-family_2: Arial, Helvetica, sans-serif;
$background-color_1: white;
$background-color_2: rgb(206, 206, 206);
$background-color_3: rgba(0, 0, 0, 0.442);
$background-color_4: rgba(0, 0, 0, 0.938);
$background-color_5: rgba(0, 0, 0, 0.571);
$background-color_6: rgba(0, 0, 0, 0.048);
$background-color_7: rgb(202, 202, 202);
$background-color_8: rgba(0, 0, 0, 0);
$background-color_9: rgb(255, 255, 255);
$background-color_10: black;
$background-color_11: grey;
$background-color_12: rgba(92, 92, 92, 0.2);
$background-color_13: rgba(0, 0, 0, 0.431);

/*ESTILO DE BARRA DE NAVEGACION*/
/* MAIN */
/*Primer Portada*/
/*FOOTER*/
/*CONTACTO*/
/*SOBRE NOSOTROS*/
/*OFERTAS*/
/*PRODUCTOS*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-style: none;
	text-decoration: none !important;
	font-family: $font-family_1;}
