#mainNosotros {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 450px;
}
.nosotrosTexto {
	margin: 20px 20px;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.nosotros--texto {
	font-family: $font-family_1;
	font-size: 10px;
	margin: 20px 20px;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.nosotrosMap {
	display: flex;
	width: 50%;
	margin: 20px;
}
#main--Of {
	min-height: 100vh;
	height: 1000px;
}


#footer {
	display: flex;
	justify-content: center;
	background-color: $background-color_2;
	align-items: center;
	padding: 20px 0;
}
.footer_logo {
	img {
		width: 50px;
		height: 50px;
		margin: auto 120px;
		filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
	}
}
.footer_links {
	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: $color_7;
		font-size: 20px;
		margin: auto 120px;
		transition: .5s;
		&:hover {
			color: $color_8;
			transition: .5s;
		}
	}
}
.footer_redes {
	a {
		font-size: 30px;
		color: $color_1;
		margin: auto 30px;
		border: 2px gray;
		border-radius: 10px;
		padding: 5px;
		transition: .5s;
		&:hover {
			filter: drop-shadow(10px 5px 2px rgb(156, 156, 156));
			transition: .5s;
		}
	}
}